extends layout

block content
  h1= title

  - let Sodaid = toShow._id
  - let company = toShow.company
  - let flavour = toShow.flavour
  - let price = toShow.price
  
  div.row(class='mb-2')
    div.mr-1 ID is
    div #{Sodaid}
  - let actionid = "/resource/Sodas/" + Sodaid
  form(id='SodaForm', action= actionid, method="PUT")
    div.form-group
        label.SodaAttr(for='company') Soda company
        input#company(type='text', name='company', value=company)
    div.form-group
        label.SodaAttr(for='flavour') Soda flavour
        input#flavour(type='text', name='flavour', value=flavour)
    div.form-group
        label.SodaAttr(for='price') Soda price
        input#price(type='number', name='price', value=price)
    input(type="submit")

  script.
    document.forms['SodaForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });

