extends layout

block content
  div(class="container-fluid")
  h1= title
  -let result=results
  div(class="row")
    each key,index in result
        div(class = "col-sm-2 bg-primary" onclick=`buy(${index})`) #{key.company}
        div(class = "col-sm-2 bg-primary" onclick=`buy(${index})`) #{key.flavour}
        div(class = "col-sm-2 bg-primary" onclick=`buy(${index})`) #{key.price}
  script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }
    